@import "../../common/colors.scss";

.movie-section {
    display: flex;
    justify-content: space-evenly;
    padding: 40px 0px;
    font-weight: 400;

    &.light-theme {
        color: rgb(38, 39, 39);

        .fa-star,
        .fa-thumbs-up,
        .fa-calendar,
        .fa-film {
            color: #eeb04d;
        }
    }

    &.dark-theme {
        color: white;

        .fa-star,
        .fa-thumbs-up,
        .fa-calendar,
        .fa-film {
            color: #fafafa;
        }
    }
}


.movie-title {
    font-size: 40px;
}

.movie-rating {
    padding-left: 3px;
    margin-top: 20px;
    color: rgb(83, 153, 245);
    display: flex;

    span {
        margin-right: 26px;
    }
}

.movie-plot {
    margin-top: 20px;
    line-height: 1.8rem;
    margin-bottom: 20px;

}

.movie-info>div span:first-child {
    padding: 10px 0px;
    color: inherit;
    font-weight: 600;
    width: 100px;
    display: inline-block;

}

.movie-info>div span {
    color: rgb(83, 153, 245);
}

.section-right {
    img{
        border: 1px solid rgb(124, 109, 112);
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
  margin-left: 30px;
}