@import "../../common/colors.scss";

.header {
  background-color: $secondary-color;
  height: 72px;
  padding: 0px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.logo {
  font-size: 30px;
  font-weight: 800;
  background: linear-gradient(90deg, #f8ff00 0%, #3ad59f 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.images {
  display: flex;
  gap: 50px;
}

.theme-icon,
.user-image,
.user-image img {
  width: 38px;
  height: 38px;
  color: white;

  &:hover {
    cursor: pointer;
  }
}